* {
	padding: 0;
	margin: 0;
}
body {
	background: #ebeef6;
}
h1 {
	font: 30px Calibri;
	font-weight: normal;
	color: #000000;
}
h1:hover {
	text-decoration: underline;
}
a {
	text-decoration: none;
}
a img {
	border: none; /*For IE*/
}
li {
	list-style: none;
}
span {
	font: 24px Calibri;
}
/*li:hover {
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}*/
.radiusup {
	border-radius: 3px 3px 0 0;
}
.radiusdown {
	border-radius: 0 0 3px 3px;
}
#page {
	width: 1360px;
	margin-right: auto;
	margin-left: auto;
}
#navigation {
	position: relative;
	height: 125px;
	background: url(../images/navigation.png) #8c95f2;
	box-shadow: 0px 0px 7px #8f8f91;
	-webkit-box-shadow: 0px 0px 7px #8f8f91;
	-o-box-shadow: 0px 0px 7px #8f8f91;
	-moz-box-shadow: 0px 0px 7px #8f8f91;
}
.logo {
	position: absolute;
	height: 100px;
	width: 100px;
	background: #795a32;
	color: #fff;
	margin-left: 24px;
	margin-top: 12px;
	border-radius: 9px 9px 9px;
}
.logo span{
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 60px;
	line-height: 90px;
	margin-left: 15px;
}
	.logo:hover {
		color: #cbcdcb;  
	}
.other ul {
	margin-top: 48px;
	position: relative;
	display: inline-table;
}
	.other ul li {
		float: left;
		font-size: 24px;
		margin-left: 77px;
		font-family:  Comic Sans MS;
	}
	.other ul li:first-child {
		margin-left: 207px;
	}
		.other ul li:hover > ul {
			display: block;
		}
		.other ul li a {
			color: #fff;
		}
		.other ul li:hover a {
			color: #000;
		}
	.other ul ul {
		margin: 0;
		z-index: 2;
		display: none;
		position: absolute;
	}
		.other ul ul li {
			float: none;
			padding: 10px 15px;
			background: #c8ccf8;
			margin: 0 !important;
		}
		.other ul ul li a {
			color: #686767 !important;
		}
		.other ul ul li:hover {
			background: #b5bbf6;
		}
/*.header_nav {
	height: 125px;
	width: 1074px;
	margin-left: 210px;
	position: relative;
	float: left;
}
	.music a {
		color: #f6f2f2;
		font-size: 24px;
		font-family: Comic Sans MS;
		position: absolute;
		margin-top: 50px;
	}
		.music:hover a {
			color: #000;
		}
	.books a {
		color: #f6f2f2;
		font-size: 24px;
		font-family: Comic Sans MS;
		position: absolute;
		margin-top: 50px;
		margin-left: 188px;
	}
		.books:hover a {
			color: #000;
		}
	.news a {
		color: #f6f2f2;
		font-size: 24px;
		font-family: Comic Sans MS;
		position: absolute;
		margin-top: 50px;
		margin-left: 355px;
	}
		.news:hover a {
			color: #000;
		}
	.sport {
		width: 70px;
		position: relative;
		margin-top: 50px;
		margin-left: 555px;
	}
	.sport a {
		color: #f6f2f2;
		font-size: 24px;
		font-family: Comic Sans MS;
	}
		.sport:hover a {
			color: #000;
		}
		.sport ul {
			display: none;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-o-border-radius: 3px;
		}
		.sport:hover ul {
			width: 160px;
			display: block;
			position: relative;
			top: 15px;
			background: #c8ccf8;
			z-index: 2;
		}
			.sport ul li{
				color: #686767;
				padding: 5px 5px;
			}
	.photo a {
		color: #f6f2f2;
		font-size: 24px;
		font-family: Comic Sans MS;
		position: absolute;
		margin-top: 50px;
		margin-left: 720px;
	}
	.photo:hover a {
		color: #000;
	}
	.about_site a {
		color: #f6f2f2;
		font-size: 24px;
		font-family: Comic Sans MS;
		position: absolute;
		margin-top: 50px;
		margin-left: 865px;
	}
		.about_site:hover a {
			color: #000;
		}*/
#main {
	height: 310px;
}
.social_networks {
	position: relative;
	z-index: 2;
	height: 53px;
	width: 240px;
	margin-top: 10px;
	float: right;
}
.social_networks a {
	margin-left: 20px;
}
#content {
	height: 540px;
}
.last_news {
	height: 50px;
	background: url(../images/fon_last_news.png) #a7a6a6;
	text-align: center;
}
.last_news em {
	font-family: Verdana;
	font-size: 32px;
	font-weight: bold;
	color: #3b3b3b;
	line-height: 50px;
}
.new1 {
	height: 253px;
	position: relative;
}
.new_in1 {
	height: 170px;
	width: 200px;
	margin-top: 43px;
	margin-left: 124px;
	position: absolute;
}
.new_incont1 {
	height: 35px;
	margin-left: 360px;
	margin-top: 45px;
	position: absolute;
}
.new2 {
	position: relative;
}
.new_in2 {
	height: 170px;
	width: 200px;
	margin-top: 3px;
	margin-left: 124px;
	position: absolute;
}
.new_incont2 {
	height: 35px;
	margin-left: 360px;
	margin-top: 10px;
	position: absolute;
}
.statistic {
	margin-top: 183px;
	margin-left: 360px;
	position: absolute;
}
.statistic span {
	vertical-align: top;
}
.comments {
	padding: 100px;
}
.statistic1 {
	margin-top: 145px;
	margin-left: 360px;
	position: absolute;
}
.statistic1 span {
	vertical-align: top;
}
.main_viewport {
	position: relative;
	top: 5px;
	z-index: 1;
}
.main_cont {
	width: 550px;
	margin-left: 350px;
	overflow: hidden;
}
	.main_cont ul {
		height: 300px;
  		width: 2200px;
  		margin: 0;
		padding: 0;
		transition: margin-left 600ms;
	}
		.main_cont li {
			display: inline-block;
		}
.arrow {
	position: absolute;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
}
	.arrow_left {
		top: 135px;
		left: 290px;
		background: linear-gradient(to right, #9b9daf, #cdcedf);
		box-shadow: -1px 2px 2px #000;
	}
	.prev, .next{
		line-height: 42px;
		font-size: 80px;
		margin-bottom: 3px;
		color: #3131ee;
	}
	.prev:hover, .next:hover {
		color: #5e5eeb;
	}
	.arrow_right {
		top: 135px;
		right: 400px;
		background: linear-gradient(to left, #9b9daf, #cdcedf);
		box-shadow: 1px 2px 2px #000;
	}