* {
	padding: 0;
	margin: 0;
}
body {
	background: #dadada;
}
h1 {
	font: 28px Arial;
	font-weight: normal;
	color: #000000;
}
h1:hover {
	text-decoration: underline;
}
a {
	text-decoration: none;
}
a img {
	border: none; /*For IE*/
}
li {
	list-style: none;
}
.radiusup {
	border-radius: 3px 3px 0 0;
}
.radiusdown {
	border-radius: 0 0 3px 3px;
}
#navigation {
	position: relative;
	height: 125px;
	background: url(../images/navigation.png) #8c95f2;
	-webkit-box-shadow: 0px 0px 7px #8f8f91;
	-moz-box-shadow: 0px 0px 7px #8f8f91;
	-o-box-shadow: 0px 0px 7px #8f8f91;
	box-shadow: 0px 0px 7px #8f8f91;
}
.logo {
	position: absolute;
	height: 100px;
	width: 100px;
	z-index: 2;
	background: #795a32;
	color: #fff;
	margin-left: 24px;
	margin-top: 12px;
	border-radius: 9px 9px 9px;
}
.logo span{
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 60px;
	line-height: 90px;
	margin-left: 15px;
}
	.logo:hover {
		color: #cbcdcb;  
	}
.other {
	width: 1349px;
	margin-left: auto;
	margin-right: auto;
}
.other ul {
	margin-top: 48px;
	position: relative;
	display: inline-table;
}
	.other ul li {
		float: left;
		font-size: 24px;
		margin-left: 77px;
		font-family:  Comic Sans MS;
	}
	.other ul li:first-child {
		margin-left: 207px;
	}
		.other ul li:hover > ul {
			display: block;
		}
		.other ul li a {
			color: #fff;
		}
		.other ul li:hover a {
			color: #000;
		}
	.other ul ul {
		margin: 0;
		z-index: 2;
		display: none;
		position: absolute;
	}
		.other ul ul li {
			float: none;
			padding: 10px 15px;
			background: #c8ccf8;
			margin: 0 !important;
		}
		.other ul ul li a {
			color: #686767 !important;
		}
		.other ul ul li:hover {
			background: #b5bbf6;
		}
#all_content {
	width: 1349px;
	margin-right: auto;
	margin-left: auto;
}
.main {
	position: relative;
	height: 310px;
}
	.social_networks {
		position: relative;
		z-index: 2;
		height: 53px;
		width: 240px;
		margin-top: 10px;
		float: right;
	}
	.social_networks a {
		margin-left: 20px;
	}
	.change:hover {
		-webkit-filter: grayscale(70%);
		-moz-filter: grayscale(70%);
		-ms-filter: grayscale(70%);
		-o-filter: grayscale(70%);
		filter: grayscale(70%);
	}
.content {
	position: relative;
	height: 540px;
}
.last_news {
	height: 50px;
	text-align: center;
	background: #a7a6a6;
	background: linear-gradient(to top, #5f5f5e, #e9e9e9);
	border-radius: 2px;
}
.last_news em {
	font-family: Verdana;
	font-size: 32px;
	font-weight: bold;
	color: #3b3b3b;
	line-height: 50px;
}
.new1 {
	height: 253px;
	position: relative;
}
.new_in1 {
	height: 170px;
	width: 200px;
	margin-top: 43px;
	margin-left: 124px;
	position: absolute;
}
	.new_in1:hover {
		-webkit-filter: brightness(80%);
		-moz-filter: brightness(80%);
		-ms-filter: brightness(80%);
		-o-filter: brightness(80%);
		filter: brightness(80%);	
	}
.new_incont1 {
	height: 35px;
	margin-left: 360px;
	margin-top: 45px;
	position: absolute;
}
.new2 {
	position: relative;
}
.new_in2 {
	height: 170px;
	width: 200px;
	margin-top: 3px;
	margin-left: 124px;
	position: absolute;
}
	.new_in2:hover {
		-webkit-filter: brightness(80%);
		-moz-filter: brightness(80%);
		-ms-filter: brightness(80%);
		-o-filter: brightness(80%);
		filter: brightness(80%);
	}
.new_incont2 {
	height: 35px;
	margin-left: 360px;
	margin-top: 10px;
	position: absolute;
}
.statistic {
	margin-top: 183px;
	margin-left: 360px;
	position: absolute;
}
	.statistic span,
	.statistic1 span {
		position: relative;
		top: -4px;
		font: 22px Jura;
		margin-right: 90px;
	}
	.statistic span:last-child, 
	.statistic1 span:last-child{
		margin-right: 0;
	}
	.statistic span:nth-child(4),
	.statistic1 span:nth-child(4) {
		left: 4px;
	}
.statistic1 {
	margin-top: 145px;
	margin-left: 360px;
	position: absolute;
}
.main_viewport {
	position: relative;
	top: 5px;
	z-index: 1;
}
.main_cont {
	width: 550px;
	height: 300px;
	margin-left: 350px;
	overflow: hidden;
}
	.main_cont li {
		display: inline-block;
	}
.arrow {
	position: absolute;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
}
	.arrow_left {
		top: 135px;
		left: 290px;
		box-shadow: -1px 2px 2px #000;
	}
	.prev {
		background: url(../images/arrow_left.png);
	}
	.next{
		background: url(../images/arrow_right.png);
	}
	.prev:hover, .next:hover {
		-webkit-filter: grayscale(50%);
		-moz-filter: grayscale(50%);
		-ms-filter: grayscale(50%);
		-o-filter: grayscale(50%);
		filter: grayscale(50%);
	}
	.arrow_right {
		top: 135px;
		right: 389px;
		box-shadow: 1px 2px 2px #000;
	}
.dots_menu {
	position: absolute;
	left: 587px;
	bottom: 10px;
	z-index: 1;
}
	.dot {
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(../images/dot.png) no-repeat;
	}
	.dots_menu a {
		margin-left: 10px;
	}
	.dots_menu a:first-child {
		margin-left: 0;
	}
	.active_dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/active_dot.png) no-repeat;
	}
.footer {
	height: 75px;
	width: 1349px;
	margin-right: auto;
	margin-left: auto;
	background: #c4c3c3;
}
.Reg {
	font-family: Regular;
}
	.footer a {
		float: right;
		color: #262626;
		font-size: 18px;
		margin-top: 27px;
		margin-right: 355px;
	}
		.footer a:hover {
			color: #818181;
		}
	.footer em {
		line-height: 75px;
		margin-left: 355px;
		quotes: "\00ab" "\00bb";
	}